.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  height: 100px;
  background-color: green;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.menuBtn {
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.avatar {
  background-color: white;
  color: #2563eb;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
